h1 {
    font-size: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

body {
    background-color: darkred;
}

button {
    display: block;
    font-size: 150px;
    background-color: black;
    color: white;
    margin: 0 auto;
}